html {
    width: 1005;
    height: 100%;
}

.body {
    background: linear-gradient(grey 25%, white 100%);
    overflow: none;
    background-attachment: fixed;
}

.computer-img {
    width: 35px;
}

a, p {
    font-family: 'Akira Expanded';
}