html {
    width: 100;
    height: 100%;
}

.body {
    background: linear-gradient(grey 25%, white 100%);
    overflow: scroll;
    background-attachment: fixed;
}

.computer-img {
    width: 35px;
}


a, p {
    font-family: 'Akira Expanded';
}

.p1 {
    font-size: 65px;
    text-shadow: 3px 3px 4px white;
}

.p2 {
    font-size: 25px;
}

.b1 {
    border-radius: 50px;
}

